* {
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: 900;
}

body {
  color: pink;
  text-align: center;
  background-color: black;
}

.container,
.explanation {
  align-items: center;
  justify-content: center;
  border: 5px solid #ccc;
  border-top-left-radius: 3em 7em;
  border-top-right-radius: 4em 4em;
  border-bottom-right-radius: 5em 5em;
  border-bottom-left-radius: 5em 5em;
  color: pink;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px;
}

button {
  background-color: pink;
  border: none;
  color: white;
  padding: 7px 32px;
  border-top-left-radius: 3em 7em;
  border-top-right-radius: 4em 4em;
  border-bottom-right-radius: 4em 4em;
  border-bottom-left-radius: 4em 4em;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2em;
}

.paragraph-2 {
  padding: 20px;
}
